@{
    ViewBag.Title = "Legacy API Operations";
}

<h2>Legacy API Operations</h2>

<ul>
    <li><a href="@Url.Action("CreateAgreement")">Create billing agreement</a></li>
    <li><a href="@Url.Action("CancelAgreement")">Cancel billing agreement</a></li>
    <li><a href="@Url.Action("CreateOrder")">Place an order</a></li>
    <li><a href="@Url.Action("VoidOrder")">Void an order</a></li>
    <li><a href="@Url.Action("ViewTransaction")">View transaction</a></li>
</ul>